.vacations-container{
    height: 17em;
    background-image: url('/images/backgrounds/homePage.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.vacations-h1{
    text-align: center;
    font-size: 6em;
    color: white;
    font-weight: 100;
    margin: 0;
    -webkit-text-shadow: 4px 4px 7px rgba(0,0,0,0.4);
    -moz-text-shadow: 4px 4px 7px rgba(0,0,0,0.4);
    text-shadow: 4px 4px 7px rgba(0,0,0,0.5);
}

.vacations-header{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 6rem;
}

.vacations{
    max-width: 1200px;
    min-height: 30em;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 2rem auto;
}

.row-around{
    display: flex;
    justify-content: space-around;
}

.padding-top-1{
    padding-top: 1em;
}

.add-button{
    margin-left: auto;
    margin-right: 1em;
    margin-top: -0.95em;
    border: 1px solid var(--color1);
    background-color: #ffffff;
    width: 1.9em;
    height: 1.9em;
    border-radius: 2em;
    font-size: 2.3em;
    outline: none;
    transition: 0.4s;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
}

.add-button:hover{
    background-color: var(--color1-light);
}

.add-wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}